{% extends 'chitchat_user/base_user.html' %}
{% load static %}
{% block heading %} Sign Up {% endblock %}

		{% block body %}
		<form>
			{% csrf_token %}
				<ul class="form">
                    <li>
                        <input type="text" id="first_name" name="first_name" placeholder="First name" required=""/>
                        </li>
                        <li>
                            <input type="text" id="last_name" name="last_name" placeholder="Last name" required=""/>
                            </li>
                        <li>   
                            <select class="dropdown"  id="state" name="state" >
                                <option value="0" >- State -</option>
                                <option value="Kerala">Kerala</option>                                
                               </select>    
                            </li>     
                        <li>   
                                <select class="dropdown" id="district" name="district" >
                                    <option value="0" >- District -</option>
                                    <option value="Trivandrum">Trivandrum</option>
                                    <option value="Ernakulam">Ernakulam</option>
                                    <option value="Kozhikode">Kozhikode </option>    
                                   </select>    
                                </li>         
					<li>
					<input type="text" id="username" name="username" placeholder="Username" required=""/>
					</li>
					<li>
						<input type="password" id="password" name="password" class="password" placeholder="password" required=""/>
					</li>
					<li>
						<input type="password" id="confirm_password" name="confirm_password" class="password" placeholder="Confirm password" required=""/>
                    </li>
                   
                    <li>
                      
                    <p style="color: white;">Open to Public chat:</p>
  <input type="radio" id="yes" name="open_chat" value="yes" checked>
  <label style="color: rgb(20, 170, 0);" for="yes">Yes</label><br>
  <input type="radio" id="no" name="open_chat" value="no">
  <label style="color: rgb(202, 34, 5);" for="no">No</label><br>

</li> 
					<div class="p-container">
								
								<button type="button" id="signup_btn"  class="hvr-bounce-to-bottom">Sign Up</button> 								 
								

							<div class="clear"> </div>
					</div>
				</ul>
			</form>
				<div class="social-icons">
							<div class="but-bottom">
					<div class="p-container">
						<span style="color: red;" id="invalid"></span>
						
								<!-- <label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Remember Me</label> -->
					</div>
							<!-- <a href="#" class="trouble"><p>Forgot Password ?</p></a><div class="clear"> </div></div>
							<a href="#" class="social-account"><h3>Login with your facebook or twitter account.</h3></a>
								<ul class="bottom-sc-icons">
								<li><a href="#" class="facebook"><img src="{% static 'chitchat_user/images/fb.png' %}" />Login with facebook</a></li>
								<li><a href="#" class="twitter"><img src="{% static 'chitchat_user/images/tw.png' %}" />Login with twitter</a></li>
							</ul>
							<div class="clear"> </div> -->
				</div>
				<div class="sign-up">
					<a href="#" class="sign-left">Want new account ?</a>
					<a  class="signup play-icon popup-with-zoom-anim" href="/user-registration/">Sign Up</a>

		</div>

					<div class="clear"> </div>
	{% endblock %}
	{%block script %}
	<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
    crossorigin="anonymous"
  ></script>
  

<script type="text/javascript">
  $( document ).ready(function() {
    $( "#signup_btn" ).click(function() {
		console.log('sucesssssssssssssssss')
      var userData = {
        csrfmiddlewaretoken: '{{ csrf_token }}',
		first_name: $('#first_name').val(),
		last_name: $('#last_name').val(),
		state:$('#state option:selected').val(),
		district:$('#district option:selected').val(),
        username: $('#username').val(),
        password: $('#password').val(),
        confirm_password: $('#confirm_password').val(),
		open_chat : $("input[name='open_chat']:checked").val()
	  }
	  console.log(userData.state)
      if (userData.first_name === '')
     {
      $('#invalid').html('please enter your first name')
     }
     else if (userData.last_name === '')
     {
      $('#invalid').html('please enter your last name')
	 }
	 else if (userData.state === '0')
     {
      $('#invalid').html('please select your state')
	 }
	 else if (userData.district === '0')
     {
      $('#invalid').html('please select your district')
     }
      else if (userData.username === '')
     {
      $('#invalid').html('please enter username')
     }
          
     else if (userData.password === '')
     {
      $('#invalid').html('please enter a password')
     }
     else if (userData.confirm_password === '')
     {
      $('#invalid').html('please confirm your password')
     }
     
else{
      $.ajax({
          url : '/user-signup/',
          type: "POST",
          data : userData,
          dataType : "json",
          success: function( data ){
			if(data == 'valid')
            window.location.replace("/")
            if(data == 'invalid'){
              $('#invalid').html('Passwords not Match')
              $('#password1').val('')
              $('#password2').val('')
            }
            if (data == 'usernamemismatch'){
              $('#invalid').html('Username already taken')
              $('#username').val('')
              $('#password1').val('')
              $('#password2').val('')
            }

          }
      });

     }
     
      
    });
    
  });
</script>
{% endblock %}