{% extends 'chitchat_user/base_user.html' %}
{% load static %}
{% block heading %} Sign In {% endblock %}

		{% block body %}
		<form method="POST">
			{% csrf_token %}
				<ul class="form">
					<li>
					<input type="text" class="email" placeholder="User name" required=""/>
					</li>
					<li>
						<input type="password" class="password" placeholder="password" required=""/>
					</li>
					<div class="p-container">
								
								<button type="submit" class="hvr-bounce-to-bottom">LOGIN</button> 								 
								</form>
							<div class="clear"> </div>
					</div>
				</ul>
				<div class="social-icons">
							<div class="but-bottom">
					<div class="p-container">
						<span style="color: red;" id="invalid"></span>
						
								<!-- <label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Remember Me</label> -->
					</div>
							<a href="#" class="trouble"><p>Forgot Password ?</p></a><div class="clear"> </div></div>
							<a href="#" class="social-account"><h3>Login with your facebook or google account.</h3></a>
								<ul class="bottom-sc-icons">
								<li><a href="#" class="facebook"><img src="{% static 'chitchat_user/images/fb.png' %}" />Login with facebook</a></li>
								<li><a href="#" class="google"><img src="{% static 'chitchat_user/images/google_icon.jpg' %}" />Login with google</a></li>
							</ul>
							<div class="clear"> </div>
				</div>
				<div class="sign-up">
					<a href="#" class="sign-left">Want new account ?</a>
					<a  class="signup play-icon popup-with-zoom-anim" href="/user-registration/">Sign Up</a>

		</div>

					<div class="clear"> </div>
	{% endblock %}
				