{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />    <link rel="stylesheet" href="{% static 'chitchat_user/css/user_profile_edit.css' %}">

    <link rel="stylesheet" href="">
</head>
<body>
    <div class="container">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    {%if user_details.ImageURL == '' %}
                            <img id="profile-image"  src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png" alt="" style="height: 200px; width: 150px; border-radius: 50%;"/><br>
                            {% else %}
                            <img id="profile-image"  src="{{user_details.ImageURL}}" alt="" style="height: 200px; width: 150px;border-radius: 50%;"/><br>
                            {% endif %}
                            <i id="profile-icon" class="fas fa-camera"></i>
                            <form action="{% url 'user-profile-update' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                            <input type="file" id="profile-image-upload" name="profile-image-upload" onchange="viewImage(event)" hidden>
                                </div>
                                <h5 class="user-name">{{user_details.user.username}}</h5>
                            </div>
                            <div class="about">
                                <h5 class="mb-2 text-primary">Bio</h5>
                                <textarea class="form-control" name="bio" id="bio"  cols="10" rows="3">{{user_details.bio}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-3 text-primary">Personal Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Full Name</label>
                                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{user_details.user.first_name}}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="eMail">Last Name</label>
                                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{user_details.user.last_name}}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input type="number" class="form-control" id="phone" name="phone" value="{{user_details.mobile_number}}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="website">Date of Birth</label>
                                    <input type="date" class="form-control" id="dob" name="dob" value="{{dob}}">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-3 text-primary">Address</h6>
                            </div> -->
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="Street">State</label>
                                    <select name="state"class="form-control">
                                        <option value="{{user_details.state}}">{{user_details.state}}</option>
                                       
                                        <option value="Kerala">Kerala</option>
                                        <option value="Tamilnadu">Tamilnadu</option>
                                        <option value="Karnataka">Karnataka</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="ciTy">District</label>
                                    <select name="district"class="form-control">
                                        <option value="{{user_details.district}}">{{user_details.district}}</option>
                                       
                                        <option value="Trivandrum">Trivandrum</option>
                                        <option value="Ernakulam">Ernakulam</option>
                                        <option value="Kozhikode">Kozhikode</option>

                                    </select>                               
                                 </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="sTate">Martial_status</label>
                                    <input type="text" class="form-control" id="martialstatus" name="martialstatus" value="{{user_details.martial_status}}">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="satus">Current Status</label>
                                    <input type="text" class="form-control" id="status" name="status" value="{{user_details.status}}">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <!-- <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button> -->
                                    <button type="submit" id="submitbtn" name="submitbtn" class="btn btn-primary">Update</button><br>
                                    <a href="/user-home/">Chat Home</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>  
    <script>
                
            $(function() {
                $('#profile-icon').on('click', function() {
                    $('#profile-image-upload').click();
                });
            });

            function viewImage(event){
                document.getElementById('profile-image').src = URL.createObjectURL(event.target.files[0])
            }
        
    </script>
</body>
</html>